
* {
    /* overflow-x: hidden; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ml-auto{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.logo{
    width: 300px;
    border-radius: 10%;    
}

.color-navbar{
    background-color: rgba(235, 57, 57, 0.733);
}

.item-navbar{
    font-size: 20px;
    font-weight: 600;
}

.item-navbar:hover{
    font-weight: bolder;
    font-size: 25px;
    border-radius: 20%;
    border: solid black 1px;
    background-color: rgba(165, 42, 42, 0.39);
    padding: 15px;
}
