.ml-auto{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.logo{
    width: 300px;
    border-radius: 3%;    
}

.color-navbar{
    background-color: rgba(235, 57, 57, 0.733);   
}

.item-navbar{
    font-size: 18px;
    font-weight: 600;
    border: solid black 1px;
    padding: 7px;
    background-color: rgba(245, 245, 220, 0.548);
    border-radius: 10%;    
}

.item-navbar:hover{
    font-weight: bolder;
    font-size: 22px;
    border-radius: 20%;
    border: solid black 1px;
    background-color: rgba(165, 42, 42, 0.39);
    padding: 12px;    
}

